.Convertor {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 35px;
  margin-top: 15px;

  &__input {
    padding-left: 10px;
    border: 1px solid blue;
  }

  &__actions {
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
  }

  &__currency {
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
  }
}