.Convertor {
  text-align: center;
  font-size: 35px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 50px;

  &__actions {
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
  }
}